# Lectura de archivos .csv

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()
from pandas_profiling import ProfileReport

In [13]:
# Dataset Clientes

cliente = pd.read_csv('Datasets/clientes.csv', delimiter = ';',encoding = "utf-8")
cliente.head(5)

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
0,1,Buenos Aires,HEBER JONI SANTANA,LAS HERAS Y BAT. 24 DE FEBRERO 4150 RINCON DE...,42-5161,58,LOMA VERDE,"-58,81850307","-34,30997088",NaN
1,2,Buenos Aires,ANA SAPRIZA,PUEYRREDON Y DUPUY RUTA3 KM 52.500 S/N BÂº LO...,49-7578,61,SANTA ROSA,"-58,73073751","-34,93908311",NaN
2,3,Buenos Aires,FERNANDO LUIS SARALEGUI,CALDERON DE LA BARCA 498,49-3435,15,TORRES,"-59,12794068","-34,43082199",NaN
3,4,Buenos Aires,MANUELA SARASOLA,"RUTA 36 KM 45,500 S/N EL PELIGRO",49-2883,29,RUTA SOL,"-58,14393954","-34,92052706",NaN
4,5,Buenos Aires,MARIO RAÚL SARASUA,492 Y 186 S/N COLONIA URQUIZA,491-4608,34,JOSE MELCHOR ROMERO,"-58,089381","-34,9444471",NaN

In [15]:
cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2672 entries, 0 to 2671
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2672 non-null   int64
 1   Provincia          2647 non-null   object
 2   Nombre_y_Apellido  2648 non-null   object
 3   Domicilio          2630 non-null   object
 4   Telefono           2637 non-null   object
 5   Edad               2672 non-null   int64
 6   Localidad          2647 non-null   object
 7   X                  2616 non-null   object
 8   Y                  2618 non-null   object
 9   col10              0 non-null      float64
dtypes: float64(1), int64(2), object(7)
memory usage: 208.9+ KB

In [4]:
# Se elimina la columna col10 puesto que esta vacia
# cliente.drop(['col10'], axis=1,inplace=True)
# cliente.head(5)

In [16]:
# Dataset Compra

compra = pd.read_csv('Datasets/compra.csv', delimiter = ',',encoding = "utf-8")
compra.head(5)

,IdCompra,Fecha,Fecha_Año,Fecha_Mes,Fecha_Periodo,IdProducto,Cantidad,Precio,IdProveedor
0,1,1/30/2015,2015,1,201501,42832,13,560.51,12
1,2,1/30/2015,2015,1,201501,42833,11,497.58,7
2,3,1/30/2015,2015,1,201501,42834,1,588.50,6
3,4,1/30/2015,2015,1,201501,42835,9,567.66,14
4,5,1/30/2015,2015,1,201501,42839,14,231.31,2

In [17]:
#visualizamos la informacion del dataframe compra
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11539 entries, 0 to 11538
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdCompra       11539 non-null  int64
 1   Fecha          11539 non-null  object
 2   Fecha_Año      11539 non-null  int64
 3   Fecha_Mes      11539 non-null  int64
 4   Fecha_Periodo  11539 non-null  int64
 5   IdProducto     11539 non-null  int64
 6   Cantidad       11539 non-null  int64
 7   Precio         11172 non-null  float64
 8   IdProveedor    11539 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 811.5+ KB

In [7]:
# Dataset Gasto

gasto = pd.read_csv('Datasets/gasto.csv', delimiter = ',',encoding = "utf-8")
gasto.head(5)

   IdGasto  IdSucursal  IdTipoGasto       Fecha    Monto
0        1          18            1  2015-01-01  1164.90
1        2          18            2  2015-01-01   317.02
2        3          18            3  2015-01-01   118.89
3        4          18            4  2015-01-01  1174.23
4        5           1            1  2015-01-01  1104.51

In [18]:
#visualizamos la informacion del dataframe gasto
gasto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8640 entries, 0 to 8639
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IdGasto      8640 non-null   int64
 1   IdSucursal   8640 non-null   int64
 2   IdTipoGasto  8640 non-null   int64
 3   Fecha        8640 non-null   object
 4   Monto        8640 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 337.6+ KB

In [19]:
# Dataset localidad

localidad = pd.read_csv('Datasets/localidades.csv', delimiter = ',',encoding = "utf-8")
localidad.head(5)

,categoria,centroide_lat,centroide_lon,departamento_id,departamento_nombre,fuente,id,localidad_censal_id,localidad_censal_nombre,municipio_id,municipio_nombre,nombre,provincia_id,provincia_nombre
0,Localidad simple,-35.033073,-60.280620,6021.0,Alberti,INDEC,6021010000,6021010,Alberti,60021.0,Alberti,ALBERTI,6,Buenos Aires
1,Localidad simple,-34.868119,-60.393971,6021.0,Alberti,INDEC,6021020000,6021020,Coronel Seguí,60021.0,Alberti,CORONEL SEGUI,6,Buenos Aires
2,Componente de localidad compuesta,-35.068014,-60.402597,6021.0,Alberti,INDEC,6021030000,6021030,Mechita,60021.0,Alberti,MECHITA,6,Buenos Aires
3,Localidad simple,-35.124382,-60.220061,6021.0,Alberti,INDEC,6021040000,6021040,Pla,60021.0,Alberti,PLA,6,Buenos Aires
4,Localidad simple,-35.109618,-60.070551,6021.0,Alberti,INDEC,6021050000,6021050,Villa Grisolía,60021.0,Alberti,VILLA GRISOLIA,6,Buenos Aires

In [20]:
#visualizamos la informacion del dataframe localidad
localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4142 entries, 0 to 4141
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   categoria                4142 non-null   object
 1   centroide_lat            4142 non-null   float64
 2   centroide_lon            4142 non-null   float64
 3   departamento_id          4141 non-null   float64
 4   departamento_nombre      4141 non-null   object
 5   fuente                   4142 non-null   object
 6   id                       4142 non-null   int64
 7   localidad_censal_id      4142 non-null   int64
 8   localidad_censal_nombre  4142 non-null   object
 9   municipio_id             3599 non-null   float64
 10  municipio_nombre         3648 non-null   object
 11  nombre                   4142 non-null   object
 12  provincia_id             4142 non-null   int64
 13  provincia_nombre         4142 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 453.2+ KB

In [21]:
# Dataset proveedor

proveedor = pd.read_csv('Datasets/proveedores.csv', delimiter = ',',encoding = "ansi")
proveedor.head(5)

,IDProveedor,Nombre,Address,City,State,Country,departamen
0,1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
1,2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
2,3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
3,4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
4,5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA

In [22]:
#visualizamos la informacion del dataframe proveedor
proveedor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IDProveedor  14 non-null     int64
 1   Nombre       12 non-null     object
 2   Address      14 non-null     object
 3   City         14 non-null     object
 4   State        14 non-null     object
 5   Country      14 non-null     object
 6   departamen   14 non-null     object
dtypes: int64(1), object(6)
memory usage: 912.0+ bytes

In [23]:
# Dataset sucursal

sucursal = pd.read_csv('Datasets/sucursales.csv', delimiter = ';',encoding = "utf-8")
sucursal.head(5)

,ID,Sucursal,Direccion,Localidad,Provincia,Latitud,Longitud
0,1,Cabildo,Av. Cabildo 1342,Ciudad de Buenos Aires,Ciudad de Buenos Aires,"-34,5678060","-58,4495720"
1,2,Palermo 1,Guatemala 5701,CABA,CABA,"-34,5790350","-58,4335660"
2,3,Palermo 2,Gral. Lucio Norberto Mansilla 2668,CABA,C deBuenos Aires,"-34,5959660","-58,4051500"
3,4,Corrientes,Av. Corrientes 2352,Ciudad de Buenos Aires,Bs As,"-34,6046850","-58,3987640"
4,5,Almagro,Venezuela 3650,Capital,Bs.As.,"-34,6173080","-58,4161790"

In [24]:
#visualizamos la informacion del dataframe sucursal
sucursal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         31 non-null     int64
 1   Sucursal   31 non-null     object
 2   Direccion  31 non-null     object
 3   Localidad  31 non-null     object
 4   Provincia  31 non-null     object
 5   Latitud    31 non-null     object
 6   Longitud   31 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.8+ KB

In [25]:
# Dataset venta

venta = pd.read_csv('Datasets/venta.csv', delimiter = ',',encoding = "utf-8")
venta.head(5)

,IdVenta,Fecha,Fecha_Entrega,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad
0,1,2018-03-09,2018-03-17,3,969,13,1674,42817,813.12,2.0
1,2,2018-12-28,2018-12-29,2,884,13,1674,42795,543.18,3.0
2,3,2016-03-28,2016-03-31,2,1722,13,1674,42837,430.32,1.0
3,4,2017-10-23,2017-10-24,3,2876,13,1674,42834,818.84,2.0
4,5,2017-11-22,2017-11-25,2,678,13,1674,42825,554.18,3.0

In [26]:
#visualizamos la informacion del dataframe compra
venta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdVenta        46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   IdCanal        46645 non-null  int64
 4   IdCliente      46645 non-null  int64
 5   IdSucursal     46645 non-null  int64
 6   IdEmpleado     46645 non-null  int64
 7   IdProducto     46645 non-null  int64
 8   Precio         45721 non-null  float64
 9   Cantidad       45753 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB

In [27]:
# Elaborando Reporte inicial  Cliente
prof_Cliente = ProfileReport(cliente)
prof_Cliente.to_file(output_file='Profile_Inicial_Cliente.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [29]:
# Elaborando Reporte inicial  Compra
prof_Compra = ProfileReport(compra)
prof_Compra.to_file(output_file='Profile_Inicial_Compra.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [30]:
# Elaborando Reporte inicial  Gasto
prof_Gasto = ProfileReport(gasto)
prof_Gasto.to_file(output_file='Profile_Inicial_Gasto.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [31]:
# Elaborando Reporte inicial  Localidad
prof_Localidad = ProfileReport(localidad)
prof_Localidad.to_file(output_file='Profile_Inicial_Localidad.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [32]:
# Elaborando Reporte inicial  Proveedor
prof_Proveedor = ProfileReport(proveedor)
prof_Proveedor.to_file(output_file='Profile_Inicial_Proveedor.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
# Elaborando Reporte inicial  Sucursal
prof_Sucursal = ProfileReport(sucursal)
prof_Sucursal.to_file(output_file='Profile_Inicial_Sucursal.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [34]:
# Elaborando Reporte inicial Venta
prof_Venta = ProfileReport(venta)
prof_Venta.to_file(output_file='Profile_Inicial_Venta.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [28]:
def analisis_ds(df):
    for column in df:
        
        if df[column].dtype == 'O':    
            valores_faltantes = round((df[column].isnull().sum() * 100) / len(df),2 )     ## Para calcular porcentaje de valores faltamtes
            sin_errores = round(100 - valores_faltantes,2)                                ## Para calcular porcentaje de valores sin error
            outliers = 0
        else:
            min = df[column].mean() - 3*df[column].std()          ## valor minimo para calcular el outlier
            max = df[column].mean() + 3*df[column].std()          ## valor máximo para calcular el outlier
            #Se usara la regla de 3 sigma
            outliers =  round((((len(df[column][df[column] < min]) + len(df[column][df[column] > max]))) * 100) / len(df),2)   
            valores_faltantes = round((df[column].isnull().sum() * 100) / len(df),2)     ## CALCULO DE VALORES FALTANTES Y SIN ERROR
            sin_errores = round(100 - valores_faltantes - outliers,2)

        lista = [outliers,valores_faltantes,sin_errores]    

        ##   Graficando 
        plt.figure(figsize=(10,10))
        plt.title('Calidad de datos de '+column)
        graph = plt.bar(['outliers','valores_faltantes','sin_errores'],lista)
        i = 0
        for p in graph:           
            width = p.get_width()
            height = p.get_height()
            x, y = p.get_xy()
            plt.text(x+width/2,
                y+height*1.01,
                str(lista[i])+'%',
                ha='center',
                weight='bold')
            i+=1
        
        plt.show()
        
        print('---------------------------------------------------')
        print('El porcentaje de valores faltantes en la columna',column,'es :',valores_faltantes,'%')
        print('El porcentaje de outliers en la columna',column,'es :',outliers,'%')
        print('El porcentaje de valores sin error en la columna',column,'es :',sin_errores,'%')
        print('---------------------------------------------------')