In [2]:
import pandas as pd
import requests

In [9]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
pagina= requests.get(url).content
lista_datos = pd.read_html(pagina)
type(lista_datos)
datos_wiki=lista_datos[0]

In [10]:
datos_wiki.head(10)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
5,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
6,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
7,ADM,ADM,reports,Consumer Staples,Agricultural Products,"Chicago, Illinois",1981-07-29,7084,1902
8,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
9,ADP,ADP,reports,Information Technology,Data Processing & Outsourced Services,"Roseland, New Jersey",1981-03-31,8670,1949

In [13]:
df_simbolos=datos_wiki.iloc[:,[0,1]]

In [14]:
df_simbolos.head(10)

  Symbol             Security
0    MMM                   3M
1    AOS          A. O. Smith
2    ABT               Abbott
3   ABBV               AbbVie
4   ABMD              Abiomed
5    ACN            Accenture
6   ATVI  Activision Blizzard
7    ADM                  ADM
8   ADBE           Adobe Inc.
9    ADP                  ADP

In [16]:
df_simbolos.tail(10)

    Symbol              Security
493    WTW  Willis Towers Watson
494    GWW        W. W. Grainger
495   WYNN          Wynn Resorts
496    XEL           Xcel Energy
497    XYL            Xylem Inc.
498    YUM           Yum! Brands
499   ZBRA    Zebra Technologies
500    ZBH         Zimmer Biomet
501   ZION  Zions Bancorporation
502    ZTS                Zoetis

In [18]:
df_simbolos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Symbol    503 non-null    object
 1   Security  503 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB